@mixin underline($line-color, $before, $after) {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: $line-color;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: translate3d(0, $before, 0);
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: translate3d(0, $after, 0);
  }
}
