// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

/// Regular font family
/// @type List
$font-stack: "DM Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica",
  "Arial", sans-serif !default;

/// Pure Black
/// @type Color
$pure-black: rgb(0, 0, 0) !default;

/// Light Grey
/// @type Color
$light-grey: rgb(223, 223, 223) !default;

/// Pure White
/// @type Color
$pure-white: rgb(255, 255, 255) !default;

/// Gradient Colors
/// @type Color
$light-orange: rgb(255, 197, 147) !default;
$violet: rgb(188, 113, 152) !default;
$blue: rgb(90, 119, 255) !default;
$gradient-list: $light-orange, $violet, $blue;
$main-gradient: linear-gradient(225deg, $light-orange, $violet, $blue);

/// Container's maximum width
/// @type Length
$max-width: 1440px !default;
$tablet-width: 768px;
$desktop-width: 1200px;
$min-width: 375px;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: "/assets/" !default;
