footer {
  background-color: $pure-black;
  padding: 5.5rem 3.2rem;
}

.social {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5rem;
  ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-around;
    width: 50%;
    margin: 0.1rem 0;
  }
  img {
    filter: brightness(100);
    -webkit-filter: brightness(100);
    transition: filter 0.2s;
    -webkit-transition: 0.2s -webkit-filter;
    &:hover {
      filter: brightness(1);
      -webkit-filter: brightness(1);
    }
  }
}

.footerLogo {
  display: flex;
  justify-content: center;
  margin-bottom: 3.2rem;
}

.footerNav {
  margin-bottom: 12rem;
  a {
    color: $pure-white;
    text-align: center;
    &:hover {
      color: $light-grey;
    }
  }
  ul {
    padding: 0;
  }
}

.footerRight {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    color: $pure-white;
    display: inline-block;
    margin-right: 1.8rem;
    @include underline($pure-white, -0.5rem, 0.5rem);
  }
  a {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
    &::after {
      content: url("https://res.cloudinary.com/djuu2phoy/image/upload/v1628259686/assets/shared/desktop/arrow_white_bm1xf8.svg");
      vertical-align: middle;
    }
  }
}

.copyright {
  color: $light-grey;
  font-size: 1.5rem;
  font-weight: 400;
}

@media screen and (min-width: $tablet-width) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .footerLeft {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .social {
    order: 3;
    max-width: 50%;
    margin-bottom: 0;
    ul {
      width: 100%;
      justify-content: space-between;
    }
  }
  .footerNav {
    width: 80%;
    margin-bottom: 7rem;
    ul {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 0;
    }
  }
  .footerLogo {
    margin-bottom: 3.2rem;
  }
  .footerRight {
    justify-content: space-between;
    a,
    .copyright {
      text-align: right;
    }
    .copyright {
      width: 100%;
    }
  }
}

@media screen and (min-width: $desktop-width) {
  footer {
    padding: 6.5rem 16.5rem;
    .footerLeft {
      min-height: 12.5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .footerLogo {
    justify-content: flex-start;
  }

  .footerNav {
    grid-column: 2;
    grid-row: 1 / span 2;
    margin-bottom: 0;
    height: 100%;
    ul {
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      li {
        padding-left: 2rem;
      }
      a {
        text-align: left;
      }
    }
    ul,
    h4 {
      margin: 0;
    }
  }

  .social {
    max-width: 70%;
    align-self: flex-end;
  }
}
