html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: $min-width;
}

main {
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
  &:visited {
    color: $pure-black;
  }
}
