html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  min-width: $min-width;
}

.bodyContainer {
  min-width: $min-width;
  max-width: $max-width;
}

main {
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
  &:visited {
    color: $pure-black;
  }
}

.arrowTransition {
  display: inline-block;
  margin-right: 1.8rem;
  transition: ease-out 0.2s;
  &:hover {
    margin-right: 4rem;
  }
}

ul {
  list-style-type: none;
}
