.blockButton {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
  padding: 1.4rem 6.8rem;
  border: none;
  cursor: pointer;
}

.mobileButton,
.navInvite {
  @extend .blockButton;
  color: $pure-white;
  background-color: $pure-black;
}

.pricingButtonBlack {
  @extend .blockButton;
  color: $pure-black;
  background-color: $pure-white;
}

.navInvite {
  padding: 1.2rem 2.4rem;
  h4 {
    margin: 0;
  }
}

#switch {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 65px;
  height: 32px;
  background: $light-grey;
  display: block;
  border-radius: 100px;
  position: relative;
  margin-right: 32.5px;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 22px;
  height: 22px;
  background: $pure-black;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: $pure-black;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
  background: $pure-white;
}

label:active:after {
  width: 70px;
}
