.tableContainer {
  padding: 10rem 3.5rem;
  #tableDark {
    border: none;
    border-top: 1px solid $pure-black;
  }
}

.sliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 6.4rem 6rem;
}

.sliderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 33%;
  h3 {
    transform: translateX(-32.5px);
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 4rem;
  td,
  th,
  caption {
    text-align: left;
    width: 100%;
  }
  tr {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  th {
    color: $light-grey;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
  }
}

.lrgTable {
  display: none;
}

@media screen and (min-width: $tablet-width) {
  .mobileTable {
    display: none;
  }

  .tableHeader {
    border-bottom: 1px solid $pure-black;
    margin-bottom: 2rem;
    th {
      margin-bottom: 0;
    }
  }
  th,
  td {
    display: flex;
    &:not(:first-child) {
      justify-content: center;
    }
  }

  .lrgTable {
    display: block;
    h4 {
      color: $pure-black;
    }
    tr {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr;
      padding: 1rem 0;
    }
    td {
      h4 {
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: $desktop-width) {
  .pricingContainer {
    display: flex;
  }
}
