.hero {
  &.storiesHero {
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    .storiesHeroImg {
      width: 100%;
    }
    img {
      width: inherit;
      object-fit: cover;
      display: block;
    }
  }
}

.storiesPageGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: $tablet-width) {
  .hero {
    &.storiesHero {
      background-image: url("https://res.cloudinary.com/djuu2phoy/image/upload/v1628105423/assets/stories/desktop/moon-of-appalacia_m8e5vf.jpg");
      .heroCard {
        width: 80%;
        background-color: transparent;
      }
    }
  }
  .storiesHeroImg {
    display: none;
  }

  .storiesPageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: $desktop-width) {
  .hero {
    &.storiesHero {
      .heroCard {
        width: 100%;
        background-color: transparent;
        padding: 12rem 10rem;
      }
    }
  }

  .storiesPageGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
