.heroCard {
  background-color: $pure-black;
  padding: 7.2rem 2.5rem;
  p {
    color: $light-grey;
  }
  h1 {
    margin-top: 0;
  }
  h1,
  h4 {
    text-transform: uppercase;
    color: $pure-white;
  }
  a {
    @extend .arrowTransition;
  }
  .inviteContainer::after {
    content: url("https://res.cloudinary.com/djuu2phoy/image/upload/v1628259686/assets/shared/desktop/arrow_white_bm1xf8.svg");
    vertical-align: middle;
  }
  .heroCardContainer {
    position: relative;
    width: 100%;
  }
  .gradientBox {
    height: 0.5rem;
    width: 40%;
    position: absolute;
    top: -7.2rem;
    background-image: $main-gradient;
  }
}

.heroImage {
  background-image: url("https://res.cloudinary.com/djuu2phoy/image/upload/v1628105414/assets/home/mobile/create-and-share_lzwaiy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  img {
    visibility: hidden;
  }
  &.featuresImg {
    background-image: url("https://res.cloudinary.com/djuu2phoy/image/upload/v1628105414/assets/features/mobile/hero_hyjwgk.jpg");
  }
  &.pricingImg {
    background-image: url("https://res.cloudinary.com/djuu2phoy/image/upload/v1628105417/assets/pricing/mobile/hero_l7qgcm.jpg");
  }
}

@media screen and (min-width: $tablet-width) {
  .hero {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
  .heroCard {
    grid-column: 1;
    grid-row: 1;
    padding: 17.5rem 5.5rem;
    .gradientBox {
      height: 100%;
      width: 0.5rem;
      position: absolute;
      left: -5.5rem;
      top: initial;
      background-image: $main-gradient;
    }
  }
  .heroImage {
    grid-column: 2;
    grid-row: 1;
    background-image: url("https://res.cloudinary.com/djuu2phoy/image/upload/v1628105416/assets/home/tablet/create-and-share_b1ejma.jpg");
  }
}

@media screen and (min-width: $desktop-width) {
  .hero {
    grid-template-columns: 1fr 1.4fr;
  }

  .heroCard {
    padding: 17.5rem 11rem;
    .gradientBox {
      left: -11rem;
    }
    a {
      @include underline($pure-white, -1rem, -0.5rem);
    }
  }

  .heroImage {
    background-image: url("https://res.cloudinary.com/djuu2phoy/image/upload/v1628105412/assets/home/desktop/create-and-share_mq3qx5.jpg");
    background-position: center;
  }
}
