.photoCardImage {
  img {
    width: 100%;
  }
}

.photoCardText {
  padding: 7.2rem 2.4rem;
  h2 {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 0.33rem;
    text-transform: uppercase;
  }
  h4 {
    text-transform: uppercase;
    color: $pure-black;
  }
  a {
    @extend .arrowTransition;
  }
  &::after {
    content: url("https://res.cloudinary.com/djuu2phoy/image/upload/v1628105417/assets/shared/desktop/arrow_eav3si.svg");
    vertical-align: middle;
  }
}

@media screen and (min-width: $tablet-width) {
  .homePhotoCard {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }
  &.photoCardReverse {
    grid-template-columns: 1.5fr 1fr;
    .photoCardText {
      grid-column: 1;
      grid-row: 1;
    }
  }
  &.stories {
    background-image: url("https://res.cloudinary.com/djuu2phoy/image/upload/v1628105416/assets/home/tablet/beautiful-stories_rfhj22.jpg");
  }
  &.everyone {
    background-image: url("https://res.cloudinary.com/djuu2phoy/image/upload/v1628105416/assets/home/tablet/designed-for-everyone_ndwwfl.jpg");
  }

  .photoCardImage {
    background-size: cover;
    background-repeat: no-repeat;
    img {
      display: none;
    }
  }
  .photoCardText {
    padding: 13.5rem 5.5rem;
  }
}

@media screen and (min-width: $desktop-width) {
  .homePhotoCard {
    display: grid;
    grid-template-columns: 1.36fr 1fr;
  }
  &.photoCardReverse {
    grid-template-columns: 1fr 1.36fr;
  }
  &.stories {
    background-image: url("https://res.cloudinary.com/djuu2phoy/image/upload/v1628105416/assets/home/desktop/beautiful-stories_x0t40h.jpg");
  }
  &.everyone {
    background-image: url("https://res.cloudinary.com/djuu2phoy/image/upload/v1628105412/assets/home/desktop/designed-for-everyone_qzdnpk.jpg");
  }
  .photoCardText {
    padding: 13.5rem 11rem;
  }
}
