.storiesGrid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.storiesGridCard {
  min-width: 375px;
  min-height: 375px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 4rem 3.2rem;
  color: $pure-white;

  hr {
    width: 100%;
    border-top: 1px $light-grey;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  h3 {
    margin-bottom: 0.4rem;
  }
  h4 {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
  &.mountains {
    background-image: url("https://res.cloudinary.com/djuu2phoy/image/upload/v1628356313/assets/stories/mobile/mountainsDark_kwj25m.jpg");
  }
  &.sunset {
    background-image: url("https://res.cloudinary.com/djuu2phoy/image/upload/v1628356415/assets/stories/mobile/cityscapesDark_muxx6h.jpg");
  }
  &.voyage {
    background-image: url("https://res.cloudinary.com/djuu2phoy/image/upload/v1628356510/assets/stories/mobile/voyageDark_ndd55e.jpg");
  }
  &.arch {
    background-image: url("https://res.cloudinary.com/djuu2phoy/image/upload/v1628356585/assets/stories/mobile/archDark_tbbmpf.jpg");
  }
}

.readStory {
  display: flex;
  justify-content: space-between;
  margin: 0;
  text-transform: uppercase;
  img {
    height: 14px;
    width: 43px;
  }
}
